# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Iperf map

{%- import_yaml 'benchmark/iperf/defaults.yaml' as defaults %}
{%- set iperf_lookup = salt['pillar.get']('iperf:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'iperf3',
    },
}, grain='os_family', merge=iperf_lookup) %}
{%- do defaults.iperf.update(os_family_map) %}
{%- set iperf = salt['pillar.get'](
        'iperf',
        default=defaults.iperf,
        merge=True
    )
%}
