# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Apt macro

{%- macro print(mname, mvalue) %}
  {%- if mvalue is string %}
  {{ mname }} "{{ mvalue }}";
  {%- elif mvalue is sequence %}
  {{ mname }} {
    {%- for item in mvalue %}
    "{{ item }}";
    {%- endfor %}
  };
  {%- endif %}
{%- endmacro -%}
