# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Iptables map

{% import_yaml "iptables/defaults.yml" as defaults %}
{% set iptables_lookup = salt['pillar.get']('iptables:lookup', {}).copy() %}
{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ 'iptables', 'iptables-persistent', 'netbase' ],
        'servicev4': 'iptables',
        'servicev6': 'ip6tables',
        'ip4rules': '/etc/iptables/rules.v4',
        'ip6rules': '/etc/iptables/rules.v6'
    },
}, grain='os_family', merge=iptables_lookup) %}
{% do defaults.iptables.update(os_family_map) %}
{% set iptables= salt['pillar.get'](
        'iptables',
        default=defaults.iptables,
        merge=True
    )
%}
