# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Syslog-ng map

{%- import_yaml "common/syslog/defaults.yaml" as defaults %}
{%- set syslog_lookup = salt['pillar.get']('syslog:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'syslog-ng',
        'version': salt['grains.filter_by']({
            'jessie': '3.5',
            'stretch': '3.8',
            'buster': '3.19',
            'bullseye': '3.27',
            'kali-rolling': '3.27',
            'bionic': '3.13',
            }, grain='oscodename'),
    },
}, grain='os_family', merge=syslog_lookup) %}
{%- do defaults.syslog.update(os_family_map) %}
{%- set syslog = salt['pillar.get'](
        'syslog',
        default=defaults.syslog,
        merge=True
    )
%}
