# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Vim map

{%- import_yaml 'common/vim/defaults.yaml' as defaults %}
{%- set vim_lookup = salt['pillar.get']('vim:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['vim-nox']
    },
}, grain='os_family', merge=vim_lookup) %}
{%- do defaults.vim.update(os_family_map) %}
{%- set vim = salt['pillar.get'](
        'vim',
        default=defaults.vim,
        merge=True
    )
%}
