# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Hostname map

{%- import_yaml 'common/hostname/defaults.yaml' as defaults %}
{%- set hostname_lookup = salt['pillar.get']('hostname:lookup', {}).copy() %}
{%- do defaults.hostname.update(hostname_lookup) %}
{%- set hostname = salt['pillar.get'](
        'hostname',
        default=defaults.hostname,
        merge=True
    )
%}
