# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Dpbench map

{%- import_yaml 'benchmark/dpbench/defaults.yaml' as defaults %}
{%- set dpbench_lookup = salt['pillar.get']('dpbench:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ 'build-essential', 'git', 'gnuplot', 'libssl-dev', 'zlib1g-dev' ],
    },
}, grain='os_family', merge=dpbench_lookup) %}
{%- do defaults.dpbench.update(os_family_map) %}
{%- set dpbench = salt['pillar.get'](
        'dpbench',
        default=defaults.dpbench,
        merge=True
    )
%}
