# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Sysctl map

{%- import_yaml 'common/sysctl/defaults.yaml' as defaults %}
{%- set sysctl_lookup = salt['pillar.get']('sysctl:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        "pkg": 'procps',
    },
}, grain="os_family", merge=sysctl_lookup) %}
{%- do defaults.sysctl.update(os_family_map) %}
{%- set sysctl = salt['pillar.get'](
        'sysctl',
        default=defaults.sysctl,
        merge=True
    )
%}
