# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Bombardier map

{% import_yaml "benchmark/bombardier/defaults.yaml" as defaults %}
{% set bombardier_lookup = salt['pillar.get']('bombardier:lookup', {}).copy() %}
{% set bombardier= salt['pillar.get'](
        'bombardier',
        default=defaults.bombardier,
        merge=True
    )
%}
