# ~/.bashrc: customized

{%- from "common/bash/map.jinja" import bash with context %}

#===============================#
#   INIT                        #
#===============================#
case $- in
    *i*) ;;
    *) return;;
esac

if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
fi

#===============================#
#   OPTIONS                     #
#===============================#
shopt -s histappend
shopt -s checkwinsize
shopt -s hostcomplete
shopt -s cmdhist

#===============================#
#   ENV                         #
#===============================#
export PS1='\[\033[01;31m\]\h\[\033[01;34m\] \w \$\[\033[00m\] '
export SHELL=/bin/bash
export HISTCONTROL="$HISTCONTROL erasedups:ignoreboth"
export HISTSIZE=1000
export HISTFILESIZE=2000
export LS_OPTIONS='--color=auto'
export EDITOR='vi'
export PYTHONWARNINGS="ignore"
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

#===============================#
#   ALIAS                       #
#===============================#
if [ -f $HOME/.bash_aliases ]; then
    . $HOME/.bash_aliases
fi

#===============================#
#   CUSTOM                      #
#===============================#
# make less more friendly for non-text input files, see lesspipe(1)
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

# enable programmable completion features (you don't need to enable
# this, if it's already enabled in /etc/bash.bashrc and /etc/profile
# sources /etc/bash.bashrc).
if ! shopt -oq posix; then
    if [ -f /usr/share/bash-completion/bash_completion ]; then
        . /usr/share/bash-completion/bash_completion
    elif [ -f /etc/bash_completion ]; then
        . /etc/bash_completion
    fi
fi

if [ -d $HOME/.bash.d ]; then
    for file in `ls ~/.bash.d`; do
        . ~/.bash.d/$file
    done
fi

# git prompt
if [ -x /etc/bash/prompt/gitprompt.sh ]; then
    GIT_PROMPT_ONLY_IN_REPO=1
    GIT_PROMPT_FETCH_REMOTE_STATUS=0
    GIT_PROMPT_SHOW_UPSTREAM=1
    GIT_PROMPT_SHOW_UNTRACKED_FILES=all     # no, normal or all
    GIT_PROMPT_SHOW_CHANGED_FILES_COUNT=0
    GIT_PROMPT_THEME=Single_line
    source /etc/bash/prompt/gitprompt.sh
fi
