# -*- coding: utf-8 -*-
# vim: ft=jinja
#
# Logrotate map

{%- import_yaml 'common/logrotate/defaults.yaml' as defaults %}
{%- set logrotate_lookup = salt['pillar.get']('logrotate:lookup', {}).copy() %}
{%- set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'logrotate',
        'service': 'cron',
    },
}, grain="os_family", merge=logrotate_lookup) %}
{%- do defaults.logrotate.update(os_family_map) %}
{%- set logrotate = salt['pillar.get'](
        'logrotate',
        default=defaults.logrotate,
        merge=True
    )
%}
